/* .menu {
    list-style-type: none;
    padding: 0;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.menu li {
    display: inline;
    margin-right: 10px;
}

.menu li a {
    text-decoration: none;
    color: black;
}

.menu li a:hover {
    text-decoration: underline;
} */